html {
  background-color: #667292;
}

.mobile {
  font-family: "Francois One", sans-serif;
  color: #80ced6;
}

.mobile p:not(:last-child){
  border-bottom: 25px solid #80ced6;
}

.dream {
position: absolute;
top: 1em;
left: 1em;
}

h1 {
  font-family:"League Script", cursive;
  color: #7a8dc0;
}

.boxed {
  font-family:"Quicksand", sans-serif;
  border: 2px solid #80ced6;
}

footer {
  font-family:"Old Standard TT", serif;
}

.overlap {
  font-family:"Quicksand", sans-serif;
}

.cite {
  position: absolute;
  right: 10em;
  bottom: 7em;
}
